<div class="container">
    <button type="button" class="btn btn-info">
        {{#link-to "index"}} Main {{/link-to}}
    </button>
    <button type="button" class="btn btn-info">
        {{#link-to "about"}} About Us {{/link-to}}
    </button>
    {{outlet}}
</div>
